.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo navbar navbar navbar";
    height: 6rem;
}

.logo {
    grid-area: logo;
    grid-column-start: auto;
}

.navbar {
    grid-area: navbar;
}